// HS Main Style Guide Colors
$hs-light-green: #cdde95;
$hs-green: #a1bf4a;
$hs-dark-green: #596e10;

$hs-orange: #ecae12;
$hs-dark-orange: #f05323;

$hs-light-saffron: #ffc993;
$hs-saffron: #ff9933;
$hs-dark-saffron: #b75d02;

$hs-light-blue: #86cde5;
$hs-blue: #0099cc;
$hs-dark-blue: #00537c;

$hs-light-red: #e88989;
$hs-red: #cc0000;
$hs-dark-red: #880022;

$hs-light-purple: #bc7edb;
$hs-purple: #9933cc;
$hs-dark-purple: #6b2290;

$hs-light-yellow: #fff79b;
$hs-yellow: #ecae12;
$hs-dark-yellow: #ccbb01;

$hs-light-gray: #cccccc;
$hs-gray: #999999;
$hs-dark-gray: #666666;
$hs-very-dark-gray: #444444;
$hs-black: #222222;
$hs-white: #fff;

// Pill colors
$hs-pill-red: #c30007;
$hs-pill-blue: #3998cc;
$hs-pill-yellow: #ff9933;

$head-height: 145px;
$foot-height: 24px;

$bg-color: #fff;
$primary-color: #9ab600;
$gutter: 20px;

$primary-font-family: Arial, sans-serif;
$primary-font-color: #323232;

$secondary-font-family: Roboto, Verdana, Arial, sans-serif;

$light-font-color: #888888;

$app-container-bg-color: #f4f4f4;

$side-container-width: 240px;
$side-container-bg-color: #fff;
$side-container-border-size: 1px;

$main-container-bg-color: #fff;
$main-container-border-size: 1px;

$toolbar-height: 38px;

$small-border-radius: 2px;
$border-radius: 4px;
$primary-border-color: #ccc;
$secondary-border-color: #a6a6a6;

$link-color: $hs-dark-orange;

$table-head-bg-color: #e7e7e7;
$table-head-hover-bg-color: #c6c6c6;
$table-head-padding: 8px;

$table-body-padding: 8px;
$table-row-hover-bg-color: #d9eafc;

$icon-color: #666;
$font-small: 11px;
$font-header: 16px;
$footer-actions-color: #DEDEDE;


$hs-button-link-default-color: $hs-dark-orange;
$hs-button-font-size: 12px;

$hs-popover-header-font-size: 12px;
$hs-border-color: #d9dbdc;

$charcoal-grey: #3a4043;
